{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "timers": "./node_modules/timers-browserify/main.js"
                }
            }
        ]
    ]
}
