@mixin List {
    #list {
        margin-bottom: 30px;
        .sort {
            button {
                background: transparent;
                font-size: 15px;
                padding: 7px 5px;
                color: #777;
                &.active {
                    color: #222;
                    font-weight: bold;
                }
            }
        }
        .list {
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 60px;
                border-bottom: 1px solid #ddd;
                &:first-child {
                    border-top: 1px solid #ddd;
                }
                .date {
                    width: 10%;
                    font-size: 18px;
                    text-align: center;
                    color: #333;
                }
                .content {
                    flex: 1;
                    padding: 0 15px;
                }
                .price {
                    width: 25%;
                    padding-right: 10px;
                    font-size: 19px;
                    font-weight: bold;
                    text-align: right;
                    &.in {
                        color: $colorIn;
                    }
                    &.out {
                        color: $colorOut;
                    }
                }
            }
        }
    }
}