@mixin Add {
    #add {
        opacity: 0;
        &.on {
            opacity: 1;
        }
        .title {
            height: 45px;
            line-height: 45px;
            font-size: 17px;
            font-weight: normal;
            border-bottom: 1px solid #ccc;
            font-weight: bold;
        }
        dl {
            margin-top: 20px;
        }
        dd+dd {
            margin-top: 10px;
        }
        .item-title {
            font-weight: bold;
            margin-bottom: 10px;
            color: #333;
        }
        input {
            height: 35px;
            border: 1px solid #aaa;
            border-radius: 7px;
            font-size: 17px;
            color: #111;
            width: 100%;
            &::placeholder {
                color: #bbb;
            }
        }
        .date-input {
            display: flex;
            justify-content: space-between;
            input {
                width: 32%;
                text-align: center;
            }
        }
        .input-long {
            padding: 0 10px;
        }
        .inout-btns {
            display: flex;
            justify-content: space-between;
            button {
                width:48%;
                height: 35px;
                border-radius: 7px;
                font-size: 16px;
                background-color: #ddd;
                &.income {
                    &:hover, &.active {
                        background-color: rgb(150, 191, 233);
                    }
                }
                &.expense {
                    &:hover, &.active {
                        background-color: rgb(230, 136, 127);
                    }
                }
            }
        }
        .btm-btns {
            margin-top: 30px;
            button {
                width: 100%;
                border-radius: 7px;
                height: 40px;
                font-size: 16px;
                &.add {
                    background-color: #000;
                    color: #fff;
                }
                &.cancel {
                    background-color: #ddd;
                    margin-top: 10px;
                }
            }
        }
    }
}